
<div class="row">
  <div class="col-md-4">

    <form class="" id="payment-form">

      {% if cards %}
      <fieldset>
        <legend>Choose existing credit card</legend>
        <div class="form-group col-sm-12">
          <label class="control-label" for="card-number">Cards</label>

          <select class="form-control" id="existing-card-select">
            <option value="0">-----</option>
            {% for card in cards %}
            <option value="{{card.stripe_card_id}}">
              {{card.brand}}
              **** **** **** {{card.last_four}}
              {{card.exp_month}} / {{card.exp_year}}
            </option>
            {% endfor %}
          </select>
        </div>
      </fieldset>
      {% endif %}


      <fieldset>
        <legend>{{text_credit_card}}</legend>
        <div class="form-group required col-sm-12">
          <label class="control-label" for="card-number">{{entry_cc_number}}</label>
          <div class="input-group">
              <div id="card-number" class="form-control" style="height: 34px; padding: 6px 12px;"></div>
              <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
          </div>
        </div>

        <div class="form-group required col-sm-6">
          <label for="card-expiry">{{entry_cc_expire_date}}</label>
          <div id="card-expiry" class="form-control" style="height: 34px; padding: 6px 12px;"></div>
        </div>

        <div class="form-group required col-sm-6">
          <label class="control-label" for="card-cvc">{{entry_cc_cvv2}}</label>
          <div id="card-cvc" class="form-control" style="height: 34px; padding: 6px 12px;"></div>
        </div>


        {% if can_store_cards %}
        <div class="form-group col-sm-6">
          <div class="checkbox">
              <label>
                <input type="checkbox" id="save-credit-card"> Save credit card
              </label>
            </div>
        </div>
        {% endif %}
      </fieldset>
    </form>

  </div>
</div>


<div class="buttons">
  <div class="pull-right">
    <input type="button" value="{{button_confirm}}" id="button-confirm" data-loading-text="{{text_loading}}" class="btn btn-primary" />
  </div>
</div>
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript"><!--
// Initialize Stripe Elements
var stripe = Stripe('{{publishable_key}}');
var elements = stripe.elements();

// Create card elements
var cardNumber = elements.create('cardNumber');
var cardExpiry = elements.create('cardExpiry');
var cardCvc = elements.create('cardCvc');

// Mount the elements
cardNumber.mount('#card-number');
cardExpiry.mount('#card-expiry');
cardCvc.mount('#card-cvc');

$('#button-confirm').bind('click', function() {
  var $form = $('#payment-form');
  var $button_confirm = $('#button-confirm');
  var $existing_cards_select = $('#existing-card-select');

  $button_confirm.attr('disabled', true);
  $form.before('<div class="alert alert-info"><i class="fa fa-info-circle"></i> {{text_wait}} </div>');

  if($existing_cards_select.find('option:selected').val() != '0' && $existing_cards_select.find('option:selected').val() != undefined) {
    // Use existing payment method
    $.ajax({
      url: 'index.php?route=extension/payment/stripe/send',
      type: 'post',
      data: {
        card: $existing_cards_select.find('option:selected').val(),
        saveCreditCard: false,
        existingCard: true
      },
      dataType: 'json',
      complete: function() {
        $('.alert').remove();
        $button_confirm.prop('disabled', false);
      },
      success: function(json) {
        if (json['error']) {
          alert(json['error']);
        }

        if (json['success']) {
          location = json['success'];
        }
      }
    });
    return true;
  } else {
    // Create Payment Method with Elements
    stripe.createPaymentMethod({
      type: 'card',
      card: cardNumber,
      billing_details: {
        // Add billing details if available
      }
    }).then(function(result) {
      if (result.error) {
        $('.alert').remove();
        $button_confirm.prop('disabled', false);
        $form.before('<div class="alert alert-danger">' + result.error.message + '</div>');
      } else {
        // Send payment method to server
        $.ajax({
          url: 'index.php?route=extension/payment/stripe/send',
          type: 'post',
          data: {
            card: result.paymentMethod.id,
            saveCreditCard: !!$('#save-credit-card').prop('checked'),
            existingCard: false
          },
          dataType: 'json',
          complete: function() {
            $('.alert').remove();
            $button_confirm.prop('disabled', false);
          },
          success: function(json) {
            if (json['error']) {
              alert(json['error']);
            }

            if (json['success']) {
              location = json['success'];
            }
          }
        });
      }
    });
  }
});

//--></script>
